<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ 'pygments.css' | static }}">
    <title>{{ page.title }} | {{ site.title }}</title>
    {% include '_theme.html' %}

</head>

<body>
    <div class="placeholder h-100 u-vertical-center" style="flex-direction: column;">
        <div class="placeholder-icon">
            <span class="icon">
                <i class="fa fa-wrapper fa-coffee x-large"></i>
            </span>
        </div>
        <h6 class="placeholder-title">Oh dear</h6>
        <div class="placeholder-subtitle">That page was lost</div>
    
        <div class="placeholder-commands u-center">
            <a href="{{ site['base-url'] }}">
                <button class="btn-info">Go home</button>
            </a>
        </div>
    </div>

    {% include '_footer.html' %}
</body>

</html>